# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Build / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Virtual environments
.env
.venv/
venv/
env/
ENV/

# Logs, cache, testing
*.log
.cache/
pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints/

# Tool caches
.pdm-python
.pdm-build/
.ruff_cache/
.pytype/
.mypy_cache/
.pyre/

# VS Code / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.example

# AWS EC2 keys
predict-nba-key.pem

# GitHub deploy keys
github_deploy_key
github_deploy_key.pub

# Local test scripts
test.py

# Local data
data/
