version: "3.9"

services:
  api:
    build: .
    container_name: predict_nba_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    command: uvicorn src.backend.main:app --host 0.0.0.0 --port 8000
